* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
  --white: white;
  --palm-leaf: #779341;
  --blue-berry: #4285f4;
  --philippine-gray: #8d8d8d;
  --silver-chalice: #adadad;
  --gray: #808080;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
